.sidebar {
    .sidebar__grid {
        .sidebar__left {
            .sidebabr__countdown {
                max-width: 654px;
                max-height: 511px;
                height: 100%;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                }
                .note {
                    color: $color_strong;
                }
                .countdown__content {
                    position: absolute;
                    top: 82%;
                    left: 50%;
                    transform: translate(-50%, -70%);
                    text-align: center;
                    width: 100%;
                    h4 {
                        font-family: 'Poppins-SemiBold';
                        font-size: 30px;
                        line-height: 30px;
                        color: $color_text;
                        text-transform: uppercase;
                        padding-bottom: 7px;
                    }
                    p {
                        font-family: 'Poppins-Regular';
                        font-size: 18px;
                        line-height: 29px;
                        color: $color_text-p;
                    }
                }
            }
        }
        #dountdown--active {
            font-size: 50px;
            margin-bottom: 26px;
            margin-top: 30px;
            .countdown-day,
            .countdown-hou,
            .countdown-min,
            .countdown-sec {
                padding: 15px 20px;
                margin-right: 12px;
                background: $color_while;
                display: inline-block;
                font-family: 'Poppins-SemiBold';
                font-size: 12px;
                color: $color_text;
                text-transform: uppercase;
                .num {
                    color: $color_strong;
                    font-size: 21px;
                    font-family: 'Poppins-SemiBold';
                }
            }
        }
        .sidebar__right {
            .sidebar__discount {
                max-width: 457px;
                max-height: 241px;
                margin-bottom: 30px;
                position: relative;
                .discount__content {
                    position: absolute;
                    top: 51%;
                    left: 28px;
                    transform: translateY(-49%);
                    h3 {
                        font-family: 'Poppins-SemiBold';
                        font-size: 60px;
                        line-height: 30px;
                        color: $color_strong;
                        padding-bottom: 13px;
                    }
                    h4 {
                        font-family: 'Poppins-Medium';
                        font-size: 24px;
                        line-height: 30px;
                        color: $color_text;
                        text-transform: uppercase;
                    }
                    p {
                        font-family: 'Poppins-Regular';
                        font-size: 18px;
                        line-height: 29px;
                        color: $color_text-p;
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .sidebar__sale {
                max-width: 457px;
                max-height: 241px;
                position: relative;
                .sale__content {
                    position: absolute;
                    top: 49%;
                    left: 30px;
                    transform: translateY(-51%);
                    .note {
                        color: $color_strong;
                    }
                    h4 {
                        font-family: 'Poppins-SemiBold';
                        font-size: 30px;
                        line-height: 30px;
                        color: $color_text;
                        text-transform: uppercase;
                    }
                    p {
                        font-family: 'Poppins-Regular';
                        font-size: 18px;
                        line-height: 29px;
                        color: $color_text-p;
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}